<div class="row">
  <div class="col-md-5">
    <h2>Contact List</h2>
    <div class="panel panel-default">
      <div class="panel-heading" d-flex justify-content-between align-items-center>
        <h3 class="panel-title">Contacts</h3>
         <button class="btn btn-success" (click)="createNewContact()">New Contact</button>
      </div>
      <div class="panel-body">
        <cms-contact-list></cms-contact-list>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2>Contact Details</h2>
    <cms-contact-detail></cms-contact-detail>
  </div>
</div>

