.panel-heading {

  padding-top: 10rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: flex-end;

 }

 h2 {
  font-size: x-large;
  font-weight: bolder;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button-container button {
  margin-left: 10px;
}

.btn-primary
{
  margin-right: 10px;
}
