<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"></h2>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>

  <div class="panel-body">
   <!-- <div *ngFor="let contact of contacts" class="media">
      <div class="media-left">
        <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="media-object" style="width: 50px; height: 50px;">
      </div> -->
      <div class="media-body">
        <p>Email:</p> <!--will add string interpolation-->
        <p>Phone:</p>
      </div>
    </div>
  </div>

