<form class="document-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label for="title">Document Name</label>
    <input
    type="text"
    class="form-control"
    id="name"
    name="name"
    [(ngModel)]="document.name"
    #name="ngModel"
    required
    [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}">
  </div>
  <div class="form-group">
    <label for="description">Document Description</label>
    <textarea
    id="description"
    class="form-control"
    name="description"
    [(ngModel)]="document.description"></textarea>
  </div>
  <div class="form-group">
    <label for="url">Document URL</label>
    <input
    id="url"
    class="form-control"
    name="url"
    [ngModel]="document.url"
    #url="ngModel"
    required
    [ngClass]="{'is-invalid': url.invalid && (url.dirty || url.touched)}">
  </div>
  <div class="alert alert-danger"
  *ngIf="name.invalid || url.invalid">
  The Document Title and Document URL are required fileds.</div>
  <button
  type="submit"
  class="btn btn-success"
  [disabled]="!f.valid">Save</button>
  <button type="button" class="btn btn-primary">Cancel</button>
</form>
