input.ng-invalid {
  border: 1px solid red;
}
.required.ng-invalid {
  border: 1px solid red;
}

.invalid.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.pad-left-right{
  padding-left:.1rem;
}

.contact-form {
  border: 2px solid lightgray; /* Solid border around the form */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px; /* Optional rounded corners */
}

#groupList {
  padding: 30px;
}

.dropped-contact {
  transform: scale(0.8);
  transition: transform 0.3s ease, opacity 0.3s ease;
}


p {
  margin-left: 60px;

}


.deleteButton {
  margin-top: 1.5rem;
  margin-left: -1.2rem;
  width: 3.4rem;
}

.buttonDiv {
  margin-top: 1.5rem;
}

.groupDiv {
  min-height: 6rem;
  border: solid thin lightgrey;
}


.btn-success {
  margin-right: 10px;
}

.dragMsg {
  font-size: 2rem;
  color: darkgrey;
  margin-left: 3rem;
}
