<cms-header (selectedFeatureEvent)="switchView($event)"></cms-header>
<div>
  <cms-contacts *ngIf="selectedFeature === 'contacts'"></cms-contacts>
  <cms-documents *ngIf="selectedFeature === 'documents'"></cms-documents>
  <cms-message-list *ngIf="selectedFeature === 'messages'"></cms-message-list>
</div>


<!--<div *ngIf="selectedFeature === 'contacts'">
<cms-contacts></cms-contacts>
<cms-documents></cms-documents>
<cms-contacts></cms-contacts>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div *ngIf="selectedFeature === 'otherFeature'"></div>
</div> -->

<!-- line 1 featureSelected ?-->
<!-- line 2 class ="container pull-left"-->
