<!-- <div class="cl-panel-body">
  <cms-contact-item></cms-contact-item>
</div> -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Contacts</h2>
    <button class="btn btn-success pull-right" (click)="createNewContact()">New Contact</button>
  </div>

  <div class="panel-body">
    <div *ngFor="let contact of contacts"
    class="row">
      <!-- Load contactItemComponent for each contact -->
       <div class="col-xs-12">
        <cms-contact-item [contact]="contact"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
