<div class=" panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contacts</h3>
    <button class="btn btn-success pull-right" (click)="createNewContact">New Contact</button>
  </div>

  <div class="panel-body">
    <div *ngFor="let contact of contacts" class="contact-item">
      <img [src]="" alt="{{ contact.name }}" class="contact-image" style="max-height: 50px;">
      <div class="contact-details">
        <h4>{{ contact.name }}</h4>
        <p>Email: {{ contact.email }}</p>
        <p>Phone: {{ contact.phone }}</p>
    </div>
  </div>
</div>



